<%- include("header") -%>

<h2 class="about">Follow the documentation</h2>

<p class="about-text">Enter "/anything" to navigate for the page</p>
<p class="about-text">Ex: If you want to create a new list called School jsut type "localhost/school"</p>

<%- include("footer") -%>
